                <div ng-controller="creatureCreatorCtrl">
                <div class="container-fluid">
                  <div class="row content">
                    <div class="col-sm-8" id="left">
                      <h1>{{app}}</h1>
                      <hr>
                      <h3>Race, Level and Attributes</h3>
                      <form>
                        <div class="form-group">
                          <label for="inputrace">Race:</label>
                          <select class="form-control" ng-model="npc.race" ng-options=" race.nome for race in races | orderBy:'nome'" ng-required="true" ng-change="setRace(npc.race)">
                            <option value="">Select a Race</option>
                          </select>
                        </div>
                        <hr>
                        <h4>Level and progresion</h4>
                        <div class="form-group">
                          <label >Level</label>
                          <input class="form-control" type="number" ng-model="npc.lvl" min="1" max="20" ng-required="true">
                        </div>
                        <div class="form-group">
                          <label>Intelligence</label>
                          <select class="form-control" ng-model="npc.intelligence" ng-options=" intelligence.type for intelligence in intelligences" ng-required="true">
                            <option value="">Select a Intelligence</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Training</label>
                          <select class="form-control" ng-model="npc.treino" ng-options=" training.type for training in trainings" ng-required="true">
                            <option value="">Select a Training</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Role</label>
                          <select class="form-control" ng-model="npc.role" ng-options=" role.nome for role in roles" ng-required="true">
                            <option value="">Select a Role</option>
                          </select>
                        </div>
                      </form>
                      <hr>
                      <div ng-if="npc.race.nome == 'Altmer'" class="form-group">
                       <h4> Racial Traits</h4>
                       <p><strong>Highborn:</strong> Altmer increase their starting Magicka total
                        by 20%. If you distribute no points to Magicka, you start
                        with 10. </p>
                        <p><span><strong>Arcanist:</strong> Choose any 1st level spell. You know and can
                          cast that spell as if you had Novice rank in its school.</span></p>
                          <p><span><strong>Resist Disease:</strong> Altmer start with 5 points of Disease
                            Resistance, which increases by 1 every 2 levels.</span></p>
                            <hr>
                          </div>
                          <div ng-if="npc.race.nome == 'Argonian'" class="form-group">
                           <h4> Racial Traits</h4>
                           <label>imperialTraits</label>
                           <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                            <option value="health">10% Health</option>
                            <option value="magicka">10% Magicka</option>
                            <option value="stamina">10% Stamina</option>
                          </select>
                          <hr>
                        </div>
                        <div ng-if="npc.race.nome == 'Bosmer'" class="form-group">
                         <h4> Racial Traits</h4>
                         <label>imperialTraits</label>
                         <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                          <option value="health">10% Health</option>
                          <option value="magicka">10% Magicka</option>
                          <option value="stamina">10% Stamina</option>
                        </select>
                        <hr>
                      </div>
                      <div ng-if="npc.race.nome == 'Breton'" class="form-group">
                       <h4> Racial Traits</h4>
                       <label>imperialTraits</label>
                       <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                        <option value="health">10% Health</option>
                        <option value="magicka">10% Magicka</option>
                        <option value="stamina">10% Stamina</option>
                      </select>
                      <hr>
                    </div>
                    <div ng-if="npc.race.nome == 'Dummer'" class="form-group">
                     <h4> Racial Traits</h4>
                     <label>imperialTraits</label>
                     <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                      <option value="health">10% Health</option>
                      <option value="magicka">10% Magicka</option>
                      <option value="stamina">10% Stamina</option>
                    </select>
                    <hr>
                  </div>
                  <div ng-if="npc.race.nome == 'Imperial'" class="form-group">
                   <h4> Racial Traits</h4>
                   <form>
                     <span><strong>Voice of the Emperor:</strong> +2 in Speech checks </span> <br>
                     <label>Flexible</label>
                     <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                      <option value="health">10% Health</option>
                      <option value="magicka">10% Magicka</option>
                      <option value="stamina">10% Stamina</option>
                    </select>
                    <label>Might of the Empire</label>
                    <select class="form-control" ng-model="migthOfTheEmpire.skillWeapon" ng-required="true">
                      <option value="one-handed">+1 hit with one-handed</option>
                      <option value="two-handed">+1 hit with two-handed</option>
                      <option value="marksman">+1 hit with marksman</option>
                    </select>
                  </form>
                  <hr>
                </div>
                <div ng-if="npc.race.nome == 'Khajiit'" class="form-group">
                 <h4> Racial Traits</h4>
                 <label>imperialTraits</label>
                 <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                  <option value="health">10% health</option>
                  <option value="magicka">10% magicka</option>
                  <option value="stamina">10% stamina</option>
                </select>
                <hr>
              </div>
              <div ng-if="npc.race.nome == 'Nord'" class="form-group">
               <h4> Racial Traits</h4>
               <form>
                 <label>imperialTraits</label>
                 <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                  <option value="health">10% Health</option>
                  <option value="magicka">10% Magicka</option>
                  <option value="stamina">10% Stamina</option>
                </select>
              </form>
              <hr>
            </div>
            <div ng-if="npc.race.nome == 'Orc'" class="form-group">
             <h4> Racial Traits</h4>
             <form>
               <label>imperialTraits</label>
               <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
                <option value="health">10% Health</option>
                <option value="magicka">10% Magicka</option>
                <option value="stamina">10% Stamina</option>
              </select>
            </form>
            <hr>
          </div>
          <div ng-if="npc.race.nome == 'Redguard'" class="form-group">
           <h4> Racial Traits</h4>
           <form>
             <label>imperialTraits</label>
             <select class="form-control" ng-model="imperialTraits.atributo" ng-required="true" ng-change="imperialTraits(imperialTraits.atributo)">
              <option value="health">10% Health</option>
              <option value="magicka">10% Magicka</option>
              <option value="stamina">10% Stamina</option>
            </select>
          </form>
          <hr>
        </div>
        <h4>Starting Attributes ({{startpoints - npc.atributos.health.inicial - npc.atributos.magicka.inicial-npc.atributos.stamina.inicial}} points remaining)</h4>
        <form class="form-inline">
          <div class="form-group">
            <label >Health</label>
            <input class="form-control" type="number" ng-change="setHealth(npc.atributos.health.inicial, 0)" ng-model="npc.atributos.health.inicial" min="0" ng-required="true">
          </div>
          <div class="form-group">
            <label>Stamina</label>
            <input class="form-control" type="number" ng-model="npc.atributos.stamina.inicial" ng-change="setStamina(npc.atributos.stamina.inicial, 0)" min="0" ng-required="true">
          </div>
          <div class="form-group">
            <label >Magicka</label>
            <input class="form-control" type="number" ng-model="npc.atributos.magicka.inicial" ng-change="setMagicka(npc.atributos.magicka.inicial, 0)" min="0" ng-required="true" value="0">
          </div>
        </form>
        <h4>Levelup Atributes({{ !!npc.lvl ? (npc.lvl * 10 -10) - npc.atributos.health.lvl - npc.atributos.magicka.lvl - npc.atributos.stamina.lvl: 0}} points remaining)</h4>
        <form class="form-inline">
          <div class="form-group">
            <label>Health</label>
            <input class="form-control" type="number" ng-model="npc.atributos.health.lvl" ng-change="setHealth(npc.atributos.health.inicial, npc.atributos.health.lvl)" min="0" ng-required="true">
          </div>
          <div class="form-group">
            <label>Stamina</label>
            <input class="form-control" type="number" ng-model="npc.atributos.stamina.lvl" ng-change="setStamina(npc.atributos.stamina.inicial, npc.atributos.stamina.lvl)" min="0" ng-required="true">
          </div>
          <div class="form-group">
            <label>Magicka</label>  
            <input class="form-control" type="number" ng-model="npc.atributos.magicka.lvl" min="0" ng-required="true" ng-change="setMagicka(npc.atributos.magicka.inicial, npc.atributos.magicka.lvl)">
          </div>
        </form>
{{npc}}

        <button class="btn btn-primary btn-block" ng-click="createnpc(npc)">Adicionar Npc</button>
      </div>
      <div class="col-sm-4 sidenav" id="right">
      <div ng-include="'view/creatureSheet.html'"></div>
    </div>
  </div>
</div>
</div>